@import "bootstrap.min.css";
@import "ie10-viewport-bug-workaround.css";
@import "jumbotron.css";



/*
make boxes with images and link same size!
buttons to pages
click on buttons color
images in board cdenter

*/


.orange {background-color:  #ff9933
; border-color:  #ff9933
;}

.navbar-inverse .navbar-nav>li>a {color: white;}

.navbar-inverse .navbar-brand {color: white;}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover 
{background-color: #e65c00; color: white;}

.btn-primary {background-color:  #ff9933
; border-color:  white
;}

.jumbotron {background-color: white;}

img {
    border-style: none;
    vertical-align: top;
    max-width: 100%;
    height: auto;}

@media (max-width: 800px)
{.navbar {width: 100%; margin-top: 0; padding-bottom: 0;}}


.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {background-color: #e65c00;}

.navbar-inverse .navbar-toggle {background-color:  #ff9933
; border-color:  white
;}

.thumbnail {border-color: #ff9933}


.btn-primary:hover {
    color: #fff;
    background-color: #e65c00;
    border-color: white;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {color: #ffd699;}


.divimg {
    padding-left: 10px; padding-top: 10px; padding-right: 10px;}

footer {background-color:  #ff9933; color: white;}

.card-block {margin-bottom: 40px;}

.col-xs-3 {float: right;}

.aid {margin-bottom: 10px;} 

.oranget {color: #ff9933; padding-bottom: 20px;}

.orangettt {color: #ff9933; align: center;}

.card-header {color: #ff9933;}

.house {float: right;}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    color: white;
    background-color: #ff9933;
	border-color:  white
;}

a:focus, a:hover {
    color: #ffd699;}

.nav-link {color: black;}

.active {background-color: #ff9933; color: white;}

#active {color: white;}

.change {padding-bottom: 2px;}

.card {margin-bottom: -10px;}

tr.spaceUnder > td {
    padding-bottom: 1em;
    padding-top: 1em;
}
table, th, td {
    border-top: 0.10em solid #ffa13d;
    border-left: none;
    border-right: none;
}

td, th {
    display: table-cell;
    vertical-align: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.ok {max-height: 250px; max-width: 250px; margin-bottom: 10px     ;display: block;
    margin-left: auto;
    margin-right: auto; }