@import url(bootstrap.min.css);
@import url(ie10-viewport-bug-workaround.css);
@import url(jumbotron.css);
/*
make boxes with images and link same size
buttons to pages
click on buttons color
center pix on board
maybe more testimonials? 
need pictures for page
href number email. calendar events
click on images	
paula text li

*/
.form-group {
  margin-right: 20px; }

.orange {
  background-color: #bfbfbf;
  border-color: #bfbfbf; }

.navbar-inverse .navbar-nav > li > a {
  color: white; }

.navbar-inverse .navbar-brand {
  color: white; }

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
  background-color: #808080;
  color: white; }

.btn-primary {
  background-color: #bfbfbf;
  border-color: white; }

.jumbotron {
  background-color: white; }

img {
  border-style: none;
  vertical-align: top;
  max-width: 100%;
  height: auto; }

@media (max-width: 800px) {
  .navbar {
    width: 100%;
    margin-top: 0;
    padding-bottom: 0; } }
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: #808080; }

.navbar-inverse .navbar-toggle {
  background-color: #bfbfbf;
  border-color: white; }

.thumbnail {
  border-color: #bfbfbf; }

.btn-primary:hover {
  color: white;
  background-color: #808080;
  border-color: white; }

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
  color: #808080; }

.divimg {
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px; }

footer {
  background-color: #bfbfbf;
  color: white; }

.card-block {
  margin-bottom: 40px; }

.col-xs-3 {
  float: right; }

.aid {
  margin-bottom: 10px; }

.oranget {
  color: #bfbfbf;
  padding-bottom: 20px; }

.orangettt {
  color: #bfbfbf;
  align: center; }

.card-header {
  color: #bfbfbf; }

.house {
  float: right; }

.nav > li > a:focus, .nav > li > a:hover {
  text-decoration: none;
  color: white;
  background-color: #bfbfbf;
  border-color: white; }

a:focus, a:hover {
  color: #bfbfbf; }

.nav-link {
  color: black; }

.active {
  background-color: #bfbfbf;
  color: white; }

#active {
  color: white; }

.change {
  padding-bottom: 2px; }

.card {
  margin-bottom: -10px; }

tr.spaceUnder > td {
  padding-bottom: 1em;
  padding-top: 1em; }

table, th, td {
  border-top: 0.10em solid #808080;
  border-left: none;
  border-right: none; }

td, th {
  display: table-cell;
  vertical-align: inherit; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.ok {
  max-height: 250px;
  max-width: 250px;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.aidz {
  float: right; }

.page-header {
  padding-bottom: 9px;
  margin: 0px 0 0px;
  border-bottom: 1px solid #yellow; }

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #bfbfbf;
  outline: 0; }

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
  color: #fff;
  background-color: #808080; }

.centered {
  float: none;
  margin: 0 auto; }

.btn-primary:active, .btn-primary:focus {
  color: white; }

/*# sourceMappingURL=template.css.map */
